# See https://atom.io/docs/latest/creating-a-package
'menu' : [
  {
    'label' : 'Packages'
    'submenu' : [
      'label' : 'Keyboard-localization'
      'submenu' : [
        {'label' : 'Open Keymap Generator', 'command' : 'keyboard-localization:keymap-generator'}
      ]
    ]
  }
]
