# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/advanced/keymaps

# unset previous bindings
".platform-win32 atom-workspace atom-text-editor:not([mini])":
  "ctrl-alt-[": "unset!" # kill "editor:fold-current-row"

'.platform-win32 atom-text-editor':
  'ctrl-alt-q': 'unset!' # kill "autoflow:reflow-selection"

# set new bindings
'.platform-win32 atom-workspace atom-text-editor':
  # at-sign
  'ctrl-alt-q': 'compatible:at'

  # backslash
  'ctrl-alt-[': 'compatible:backslash'
